.about {
  margin: 80px 0;

  &--center {
    text-align: center;
  }
}

.about__descr {
  margin: 0 0 40px;

  &:last-child {
    margin: 0;
  }

  p {
    margin: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1em;
    font-weight: 700;
    text-align: left;
    margin: 40px 0 20px;
  }

  ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;

    li {
      padding: 0 0 0 20px;
      position: relative;

      &::before {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        left: 0;
        top: 12px;
        border-radius: 50%;
        background: currentColor;
      }
    }
  }
}

@media #{$s} {
  .about {
    margin: 30px 0;
  }

  .about__descr {
    margin: 0 0 30px;

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 20px 0 10px;
    }

    ul {
      margin: 0 0 20px;

      li {
        &::before {
          top: 8px;
        }
      }
    }
  }
}
