html {
  box-sizing: border-box;
  font: 18px/1.56 $font-main;
}

body {
  color: $col;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden {
  @include visually-hidden;
}

.body-popup {
  overflow: hidden;
}

.wrap {
  @include wrap;
}

.wrap-small {
  @include wrap($max-width: 680px);
}

.title {
  @include title;
}

@media #{$t} {

}

@media #{$s} {
  html {
    font-size: 16px;
    line-height: 1.38;
  }
}
